body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

.serie {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.serie img {
    object-fit: cover;
    width: 200px;
    margin-right: 20px;
}

.serie-info h2 {
    margin-top: 0;
    font-size: 24px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}